{% extends "events.html" %}
{% load static %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Events or Participants</h1>
            <p class="lead">
                <a href="{% url 'events:clear_event' %}" class="btn btn-lg btn-secondary">Events</a>
                <a href="{% url 'events:clear_participant' %}" class="btn btn-lg btn-secondary">Participants</a>
            </p>
        </main>
    </div>
{% endblock %}