{% extends "events.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>Add Event</h2>
            <p class="lead">Got a event you want to register? Add it below!</p>
        </div>

        <div class="row">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-4">Add event</h4>
                <form class="needs-validation" action="{% url 'events:add' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="lesson">Event name</label>
                            <input type="text" class="form-control" id="event" name="event" placeholder="" value="{{ event.name }}" required>
                            <div class="invalid-feedback">
                                Valid event name is required.
                            </div>
                        </div>
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" value="add">Add event</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/form-validation.js"></script></body>
{% endblock %}