{% extends "events.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>Delete lesson</h2>
            <p class="lead">Don't like that lesson? Yeet it with delete it!</p>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your events</span>
                    <span class="badge badge-secondary badge-pill">{{ event_count }}</span>
                </h4>

                <ul class="list-group mb-3">
                    {% for event in all_events %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{ event.name }}</h6>
                            </div>
                            <span class="text-muted">{{ event.participant_count }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Delete event</h4>
                <form class="needs-validation" action="{% url 'events:delete' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="eventName">Event name</label>
                            <label for="name"></label><input type="text" class="form-control" id="name" name="name" value="" placeholder="Concert" required>
                            <div class="invalid-feedback">
                                Valid event name is required.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../static/js/form-validation.js"></script></body>
{% endblock %}