# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Linus\Desktop\Files\Seafile\My Library\Uni-UI\WebPPW\Stories\ppw-story06\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
